<ion-header-bar class="bar-positive">
  <!-- <button class="button button-stable icon ion-navicon"></button> -->
  <h1 class="title">welcome *username*</h1>
  <!-- <button class="button button-stable">Options</button> -->
</ion-header-bar>
<ion-view view-title="My Page">
  <ion-content>
    <button ui-sref="hunt" class="button button-bar button-positive">Go To Hunt!</button>
    <button ui-sref="huntsIndex" class="button button-bar button-positive">Select A Hunt</button>
    <!-- <button ui-sref="hunt" class="button button-bar button-positive">*completed hunts*</button> -->
    <button ui-sref="login" class="button button-bar button-positive">Logout</button>

    <!-- <div class="card">
      {{appCtrl.huntJSON}}
    </div> -->

  </ion-content>
</ion-view>
