<ion-header-bar class="bar-positive">
  <!-- <div class="bar bar-header"> -->
  <button ui-sref="home" class="button button-stable icon ion-arrow-left-c"></button>
  <a ui-sref="home">Home</a>
  <h1 class="title">{{appCtrl.huntJSON.name}}</h1>
  <button class="button button-stable">Options</button>
<!-- </div> -->
</ion-header-bar>
<ion-view view-title="hunt">
  <ion-content>
    <div class="card description">
      Description:
      {{appCtrl.huntJSON.description}}
    </div>

    <div class="card time">
      Time: {{appCtrl.huntJSON.duration_min}}
    </div>

    <div class="card objective" ng-repeat="objective in appCtrl.huntJSON.objectives">
      <div class="item item-divider">
        Objective: {{objective.name}}
      </div>
      <div class="item item-text-wrap">
        Details: {{objective.description}}
      </div>
        <label class="item item-input">Answer:
          <input ng-model="appCtrl.objective.answer" type="text">
          <!-- <button class="" >submit</button> -->

          <button class="button">check</button>
          answer: {{appCtrl.objective.answer}}
        </label>


    </div>
    objectives: {{appCtrl.huntObjectives}}
  </ion-content>
</ion-view>
